<!doctype html>
<html>
<style>
form {
    margin: auto;
    width: 35%;
}
.result {
    margin: auto;
    width: 35%;
    border: 1px solid #ccc;
}
</style>
<head>
    <title>Ecommerce Prediction Model</title>
</head>
<form action="{{ index.html }}" method="POST">
    <fieldset>
        <legend>Input values:</legend>
        Order Value:
        <input name="Total Order Value" type="number" required>
        <br>
        <br> Product Description Length:
        <input name="product_description_lenght" type="number" required>
        <br>
        <br> Customer City:
        <input name="Customer City" type="number" required>
        <br>
        <br>
        <input type="submit">
    </fieldset>
</form>
<br>
<div class="result" align="center">
    {% if result %}
        {% for variable, value in original_input.items() %}
            <b>{{ variable }}</b> : {{ value }}
        {% endfor %}
        <br>
        <br> Predicted number of bikes in use:
           <p style="font-size:50px">{{ result }}</p>
    {% endif %}
</div>
</html>