<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Lazuli - Leverage Your Data</title>

    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/mainpage.css') }}">

      <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Open+Sans+Condensed:ital,wght@1,300&display=swap" rel="stylesheet">


<!-- Nav Bar -->
<nav class="navbar navbar-md navbar-dark bg-dark">
  <img src="static/Lazuli.png" width="150" height="60">
    <ul class="nav navbar-right">
        <li class="nav-item">
            <a class="nav-link active" href="landing-page.html">Home</a>
          </li>
        <li class="nav-item">
          <a class="nav-link active" href="#">About</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Features</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="main.html">Customer Review Interface</a>
            <a class="dropdown-item" href="repeat-customer.html">Repeat Customer Interface</a>
          </div>
        </li>
        <!--start code dropdown-->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" style="margin-right: 150px;" data-toggle="dropdown" href="tutorial.html" role="button" aria-haspopup="true" aria-expanded="false">Code</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="tutorial.html">Customer Review ML Model</a>
            <a class="dropdown-item" href="repeat-cust-tutorial.html">Repeat Customer ML Model</a>
            <a class="dropdown-item" href="recommender-tutorial.html">Recommender ML Model</a>
          </div>
        </li>
        <!--end code dropdown-->
      </ul>
</nav>

<!-- ======= About Section ======= -->
<section id="about" class="about">

    <!-- ======= About Individual ======= -->
    <div class="counts container" style ="padding:50px">
        <div class="row">
          <div class="section-title1">
            <h2>About us</h2>
          </div>
          <div class="row">

  
          <div class="col-lg-2 col-md-6 mt-5 mt-lg-0">
            <div class="count-box">
              <img src="static/styles/images/tom.png" class="img-fluid" alt="Thomas Wheeler">
              <p>Thomas Wheeler </p>
              <li>Decision Tree Model Developer</li>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 mt-5 mt-lg-0">
            <div class="count-box">
              <img src="static/styles/images/tr.jpg" class="img-fluid" alt="Tran Nguyen">
              <p>Tran Nguyen</p>
              <li>Decision Tree Model Developer</li>
            </div>
          </div>
  
          <div class="col-lg-2 col-md-6 mt-5 mt-lg-0">
            <div class="count-box">
              <img src="static/styles/images/trevor.png" class="img-fluid" alt="Trevor Saurbrey">
              <p>Trevor Sauerbrey</p>
              <li>Recommendation Model Developer</li>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 mt-5 mt-lg-0">
            <div class="count-box">
              <img src="static/styles/images/levi.png" class="img-fluid" alt="Levi Sebahar">
              <p>Levi Sebahar</p>
              <li>Repeat Customer Model Developer</li>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 mt-5 mt-lg-0">
            <div class="count-box">
              <img src="static/styles/images/alex.png" class="img-fluid" alt="Alex Perry">
              <p>Alex Perry</p>
              <li>Front End Development</li>
            </div>
          </div>


        </div>
  
      </div><!-- End About Individual -->

    <!-- ======= Description  ======= -->
    <div class="skills-container" style="padding:20px">

      <div class="section-title">
        <h2>Project Description</h2>
      </div>
      <div class="container" style ="padding:20px">
       
      <p style = "color:#bddbfc;font-size : 15px">Lazuli is an E-Commerce consulting firm. We provide calculated answers to your business questions using data driven technology.
       Our data analysts dive deep into your data with only one goal in mind, to unlock door to your hidden treasure. By using machine learning we can leverage YOUR data to provide 
      valuable insights.   </p>
      <p style = "color:#bddbfc;font-size : 15px">If you are a business looking to increase efficiency, increase profit, and reduce costs, then Lazuli is right for you.  </p>
      <p style = "color:#bddbfc;font-size : 15px">Lazuli...Leverage your data...  </p>
      </div>
    </div><!-- End Description -->
  </section><!-- End About Section -->


</body>


